* {
    margin: 0px;
    padding: 0px;
}

header {
    width: 100%;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #6fc7e2;
    color: white;
}

h2 {
    background-color: blanchedalmond;
    color: #6fc7e2;
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}